.base{
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
}


.projects{
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInSlideFromLeft 1s forwards;

}

@keyframes fadeInSlideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  